<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
<title th:text="#{cadastro.locacao.cadastrar.titulo}"></title>
</head>

<body>
    <section>
        <h1 th:text="#{cadastro.locacao.cadastrar.titulo}"></h1>
        <div id="cadastro">
            <form th:action="@{/locacoes/salvar}" th:object="${locacao}" method="POST">
                <div>
                    <h1>TESTE</h1>
                    <h1 th:text="*{usuario}"></h1>
                    
                    <input type="hidden" id="usuario.id" th:field="*{usuario.id}" />
                    <div>
                        <label for="locadorasSelect" th:text="#{locadora}"></label>
                        <select id="locadorasSelect"  th:field="${locacao.locadora}">
                            
                            <option value="locadoraVazia" th:text="#{cadastro.locacao.selecionarLocadora}" style="background-color: gray;" selected></option>
                            <option th:each="locadora : ${locadoras}" th:value="${locadora.id}" th:text="${locadora.nome}"></option>
                        </select>
                    </div>
                    <div>
                        <label for="dataLocacao" th:text="#{cadastro.locacao.dataLocacao}"></label>
                        <input type="date" id="dataLocacao" th:field="*{dataLocacao}" th:value="${#dates.format(dataLocacao, 'yyyy-MM-dd')}" autofocus="autofocus">
                    </div>
                    <div>
                        <label for="horarioSelect">Horário de Locação:</label>
                        <select id="horarioSelect" th:field="${locacao.horarioLocacao}">
                            <option th:each="hora : ${horariosDisponiveis}" th:value="${hora}" th:text="${hora}"></option>
                        </select>
                    </div> 
                </div>
                <input type="hidden" id="id" th:field="*{id}" />
                <button type="submit" th:text="#{cadastro.locacao.cadastrar}"></button>
            </form>
        </div>
        
    </section>
</body>

</html>
